doctype html

html(lang='en')

  head

    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
    title='Horizon Boilerplate'
    meta(name='description', content='Front-End Boilerplate is a starter kit that uses Gulp 4, Express.js, Webpack/Babel/ES6, SASS, PUG and foundation-sites framework')

  body

    style.
        .container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-width: 900px;
            margin: 600px auto;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .simpleParallax {
            margin: 0 0 48px;
        }

        .relative {
            position: relative;
        }

        .absolute {
            position: absolute;
        }

    block content

        .container
            img#1(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image')
            img#2(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image')
            img#3(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image')
            img#4(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image')
            img(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image')
            img(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image')
            img(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image')
            img(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image')
            img(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image')
            img(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image')
            img(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image')
            img(src='https://anakao-theme.com/simpleparallax/images/image03.jpg', width='768', height='768', alt='simpleParallax image') 

    script(src='./simpleParallax.min.js')

    script.
        let item1 = document.getElementById('1');
        var myPluginInstance = new simpleParallax(item1, {
            orientation: 'up'
        });
        let item2 = document.getElementById('2');
        var myPluginInstance = new simpleParallax(item2, {
            orientation: 'right'
        });
        let item3 = document.getElementById('3');
        var myPluginInstance = new simpleParallax(item3, {
            orientation: 'bottom'
        });
        let item4 = document.getElementById('4');
        var myPluginInstance = new simpleParallax(item4, {
            orientation: 'left',
            overflow: true
        });
        //- setTimeout(function() {
        //-     myPluginInstance.destroy();
        //- }, 2000);
  

        
        //- $(function(){
        //-     $('img').simpleParallax();
        //- });
        